html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
}

#root {
  width: 100vw;
  height: 100vh;
}

.timeline {
  width: 100%;
  height: 100%;
  padding: 4px;
}

.Chart text {
  fill: #95a5a6;
}

.Line--type-line {
  fill: none;
  stroke: #9980fa;
  stroke-width: 2px;
  stroke-linecap: round;
}

.Line--type-area {
  fill: rgba(152, 128, 250, 0.185);
  stroke-width: 0;
}

.Axis__line {
  stroke: #bdc3c7;
}

.Axis__label {
  text-anchor: middle;
  font-size: 0.9em;
  letter-spacing: 0.01em;
}

.Axis__tick {
  font-size: 0.8em;
}

.AxisHorizontal .Axis__tick {
  text-anchor: middle;
}

.AxisVertical .Axis__tick {
  dominant-baseline: middle;
  text-anchor: end;
}

.domain,
.tick line {
  stroke: #dadada;
}
